// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &hml LCTRL k1  &hml LALT k2  &hml LGUI k3  &hml LSHFT k4
#define HRMR(k1,k2,k3,k4) &hmr RSHFT k1  &hmr RGUI k2  &hmr RALT k3  &hmr RCTRL k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <180>;
            bindings = <&kp>, <&kp>;
        };
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;                // Enable repeat-on-tap
            require-prior-idle-ms = <180>;       // The "Timeless" part
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            // Trigger mods only when hitting keys on the RIGHT side
            // key positions should be opposite hand : if you press a key NOT in this list, it produces a tap
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <180>;
            bindings = <&kp>, <&kp>;
            hold-trigger-on-release;
            // Trigger mods only when hitting keys on the LEFT side
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
        };
        mmv: mouse_move {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <100>;
            acceleration-exponent = <1>;
        };
    };
    combos {
      compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        combo_grave {
            timeout-ms = <50>;
            key-positions = <2 12>;
            bindings = <&kp GRAVE>;
        };
        combo_escape {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp ESC>;
        };
        combo_quote {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp SQT>;
        };
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp BSPC>;
        };
        combo_return {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp ENTER>;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ;       │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp SEMI
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │   O      │
             HRML(A,        R,         S,          T)      &kp G          &kp M    HRMR( N,        E,          I,          O)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?      │
            HRML(Z,        X,         C,         D)      &kp V          &kp K      HRMR(H,     COMMA,     DOT,      FSLH)
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                      &mt LSFT BSPC  &mt LGUI ESC     &lt 2 ENTER   &lt 1 SPACE
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        numnav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│     1    │     2    │    3     │    4     │    5     │   │    6     │     7    │    8     │     9    │    0     │
            &kp N1     &kp N2      &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9    &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│    `     │    \     │    [     │    ]     │          │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  '"      │
            &kp GRAVE  &kp BSLH    &kp LBKT  &kp RBKT    &trans        &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │    -     │    =     │          │   │          │          │          │          │          │
          &bootloader &kp N7     &kp MINUS   &kp EQUAL   &trans         &trans  &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                          &kp RA(BSPC) &kp LG(BSPC)     &trans    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
        mouse_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│     1    │     2    │  m up    │    4     │    5     │   │    6     │     7    │    up    │     9    │    0     │
     &bt BT_SEL 0 &bt BT_SEL 1 &mmv MOVE_UP &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR    &kp N7     &kp UP     &kp N9    &kp N0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  m left  │  m down  │  m right │          │   │   LEFT   │ l_click  │  m_click │ r_click  │          │
      &trans &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans     &kp LEFT   &mkp LCLK  &mkp MCLK  &mkp RCLK   &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
          &bootloader &trans     &trans      &trans     &trans          &trans     &trans     &trans     &trans   &bootloader
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                          &kp RA(BSPC) &kp LG(BSPC)     &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
